body {
	margin: 0;
	color: #fff;
	background: #c8c8c8;
	font: 600 16px/18px 'Open Sans', sans-serif;
}

.item-media {
	width: 300px !important;
	height: 580px !important;
}

.heading {
	font-weight: bold;
	color: #1161ee;
	padding-bottom: 20px;
}
.good {
	color: green !important;
}

.error {
	color: red;
}

.form-group {
	text-align: center;
	position: relative;
	margin-bottom: 20px;
}

.input-container {
	position: relative;
}

.floating-label {
	position: absolute;
	pointer-events: none;
	left: 5%;
	top: 50%;
	transform: translateY(-145%);
	transition: 0.2s ease all;
	color: black;
	font-size: 12px;
}

input {
	width: 30%;
	padding: 20px 10px;
	font-size: 18px;
}

.backend-error {
	text-align: center;
	position: relative;
	color: red;
	left: 0px;
	justify-content: center;
}
li.black {
	color: #000;
	list-style: none;
	font-size: 13px;
	position: relative;
	left: -10px;
}

.login-box {
	width: 100%;
	margin: auto;
	max-width: 525px;
	min-height: 670px;
	position: relative;
	background: url(https://i.ibb.co/JQTwTBZ/pexels-max-rahubovskiy-6301168.jpg) no-repeat center cover;
	box-shadow: 0 12px 15px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
}
.login-snip {
	width: 100%;
	height: 100%;
	position: absolute;
	padding: 30px 70px 50px 70px;
	background: rgba(70, 70, 70, 0.8);
}
.login-snip .login,
.login-snip .sign-up-form {
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	position: absolute;
	transform: rotateY(180deg);
	backface-visibility: hidden;
	transition: all 0.4s linear;
}
.login-snip .sign-in,
.login-snip .sign-up,
.login-space .group .check {
	display: none;
}
.login-snip .tab,
.login-space .group .label,
.login-space .group .button {
	text-transform: uppercase;
}
.login-snip .tab {
	font-size: 22px;
	margin-right: 15px;
	padding-bottom: 5px;
	margin: 0 15px 10px 0;
	display: inline-block;
	border-bottom: 2px solid transparent;
}
.login-snip .sign-in:checked + .tab,
.login-snip .sign-up:checked + .tab {
	color: #fff;
	border-color: #1161ee;
}
.login-space {
	min-height: 345px;
	position: relative;
	perspective: 1000px;
	transform-style: preserve-3d;
}
.login-space .group {
	margin-bottom: 15px;
}
.login-space .group .label,
.login-space .group .input,
.login-space .group .button {
	width: 100%;
	color: #fff;
	display: block;
}
.login-space .group .input,
.login-space .group .button {
	border: none;
	padding: 15px 20px;
	border-radius: 25px;
	background: rgba(255, 255, 255, 0.1);
}
.login-space .group input[data-type='password'] {
	text-security: circle;
	-webkit-text-security: circle;
}
.login-space .group .label {
	color: #000;
	font-size: 12px;
}
.login-space .group .button {
	background: #1161ee;
}
.login-space .group label .icon {
	width: 15px;
	height: 15px;
	border-radius: 2px;
	position: relative;
	display: inline-block;
	background: rgba(255, 255, 255, 0.1);
}
.login-space .group label .icon:before,
.login-space .group label .icon:after {
	content: '';
	width: 10px;
	height: 2px;
	background: #fff;
	position: absolute;
	transition: all 0.2s ease-in-out 0s;
}
.login-space .group label .icon:before {
	left: 3px;
	width: 5px;
	bottom: 6px;
	transform: scale(0) rotate(0);
}
.login-space .group label .icon:after {
	top: 6px;
	right: 0;
	transform: scale(0) rotate(0);
}
.login-space .group .check:checked + label {
	color: #fff;
}
.login-space .group .check:checked + label .icon {
	background: #1161ee;
}
.login-space .group .check:checked + label .icon:before {
	transform: scale(1) rotate(45deg);
}
.login-space .group .check:checked + label .icon:after {
	transform: scale(1) rotate(-45deg);
}
.login-snip .sign-in:checked + .tab + .sign-up + .tab + .login-space .login {
	transform: rotate(0);
}
.login-snip .sign-up:checked + .tab + .login-space .sign-up-form {
	transform: rotate(0);
}

*,
:after,
:before {
	box-sizing: border-box;
}
.clearfix:after,
.clearfix:before {
	content: '';
	display: table;
}
.clearfix:after {
	clear: both;
	display: block;
}
a {
	color: #000;
	text-decoration: none;
}

.hr {
	height: 2px;
	margin: 60px 0 50px 0;
	background: rgba(255, 255, 255, 0.2);
}
.foot {
	text-align: center;
}
.card {
	width: 500px;
	left: 100px;
}

::placeholder {
	color: #fff;
}

.row {
	padding-left: none !important;
	padding-right: none !important;
	margin-left: 15px !important;
	margin-right: 15px !important;
}

body {
	margin: 0;
	color: #000;
	background: #c8c8c8;
	font: 600 16px/18px 'Open Sans', sans-serif;
}

.login-box {
	width: 100%;
	margin: auto;
	max-width: 525px;
	min-height: 670px;
	position: relative;
	background: url(https://i.ibb.co/JQTwTBZ/pexels-max-rahubovskiy-6301168.jpg) no-repeat center;
	box-shadow: 0 12px 15px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.5);
	background-size: cover;
	background-position: 28%;
}

/* Media query for phones */
@media (max-width: 767px) {
	.login-box {
		width: 100%;
		min-height: auto;
		height: 100vh;
		background: #c8c8c8; /* Change the background color for phones */
		background: url(https://i.ibb.co/JQTwTBZ/pexels-max-rahubovskiy-6301168.jpg) no-repeat center;
		box-shadow: 0 12px 15px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.5);
		background-size: cover;
		background-position: 28%;
	}

	.login-snip .login,
	.login-snip .sign-up-form {
		padding: 20px; /* Adjust the padding for phones */
	}

	.login-space .group .input,
	.login-space .group .button {
		padding: 10px 15px; /* Adjust the padding for phones */
	}

	.login-space .group .label,
	.login-space .group .button {
		font-size: 14px; /* Adjust the font size for phones */
	}

	.card {
		width: 100%; /* Make the card full width for phones */
		left: 0;
	}

	.row {
		margin-left: 0 !important; /* Remove the left margin for phones */
		margin-right: 0 !important; /* Remove the right margin for phones */
	}
	.floating-label {
		position: absolute;
		pointer-events: none;
		left: 5%;
		top: 25%;
		color: black;
		font-size: 12px;
	}
}

/* Media query for iPads */
@media (min-width: 768px) and (max-width: 1023px) {
	.media {
		width: 100px;
	}

	.login-box {
		margin: auto;
		max-width: 768px; /* Adjust the max-width for iPads */
		min-height: auto;
		height: 150vh;
		background: #c8c8c8; /* Change the background color for iPads */
		background: url(https://i.ibb.co/JQTwTBZ/pexels-max-rahubovskiy-6301168.jpg) no-repeat center;
		box-shadow: 0 12px 15px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.5);
		background-size: cover;
		background-position: 28%;
	}
	.login-snip .login,
	.login-snip .sign-up-form {
		padding: 20px; /* Adjust the padding for phones */
	}

	.login-space .group .input,
	.login-space .group .button {
		padding: 10px 15px; /* Adjust the padding for phones */
	}

	.login-space .group .label,
	.login-space .group .button {
		font-size: 14px; /* Adjust the font size for phones */
	}

	.card {
		width: 100%; /* Make the card full width for phones */
		left: 0;
	}

	.row {
		margin-left: 0 !important; /* Remove the left margin for phones */
		margin-right: 0 !important; /* Remove the right margin for phones */
	}
	.floating-label {
		position: absolute;
		pointer-events: none;
		left: 5%;
		top: 25%;
		color: black;
		font-size: 12px;
	}
}
